main {
	height: 100%;
}

main > div {
	display: flex;
	flex-direction: row;
	height: 25em;
}

#board {
	height: 100%;
	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	gap: 0.25em;
}

#info {
	padding: 1em;
	height: 100%;
}

#timer {
	background: var(--fgc);
	height: 2px;
	margin: 2px;
}

#board > button {
	font-family: var(--font);
	font-size: 1em;
}

#board > button {
	background: white;
	color: black;
}

#board > button:nth-child(even) {
	background: black;
	color: white;
}

#board > button:hover {
	background: var(--acc);
}

#board > * {
	display: flex;
	place-items: center;
	justify-content: center;
}

body {
	display: flex;
	flex-direction: column;
}
